<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JSON Documents Embedding Tool</title>
    <link
    href="https://cdn.staticfile.org/bootstrap/5.3.0/css/bootstrap.min.css"
    rel="stylesheet"
    />
    <link
    href="https://cdn.staticfile.org/font-awesome/6.4.0/css/all.min.css"
    rel="stylesheet"
    />
    <link rel="shortcut icon" href="https://horans.github.io/asset/favicon.ico">
    <style>
      .transition { transition: all ease-out 0.2s; }
      .compact { font-size: 12px; line-height: 1; }
      .btn:not([class*="btn-"]):disabled { border-color: transparent; }
      ::placeholder { color: var(--bs-gray-400) !important; }
      textarea { resize: none; }
      .form-control:invalid { border-color: rgba(var(--bs-danger-rgb),0.3); }
      .form-control:read-only { opacity: 0.8; }
      main:not(.ready) { opacity: 0; pointer-events: none; }
      ul:focus-within li:not(:focus-within) { opacity: 0.6; }
      li:not(:hover):not(:focus-within) .suffix { display: none; }
      li:not(:hover):not(:focus-within) .main { border-top-right-radius: var(--bs-border-radius) !important; border-bottom-right-radius: var(--bs-border-radius) !important; }
    </style>
  </head>
  <body class="d-flex flex-column gap-3 py-3 vh-100">
    <header class="text-center">
      <h1>JSON Documents Embedding Tool</h1>
    </header>
    <main id="app" class="flex-grow-1 container overflow-hidden">
      <form class="d-flex flex-column gap-2 h-100" @submit.stop.prevent="check(download)">
        <section class="d-flex justify-content-between gap-2">
          <div class="d-flex gap-1">
            <div class="input-group w-auto">
              <button class="btn btn-primary" type="button" @click="add">
                <i class="fa-fw fa-solid fa-circle-plus"></i> Add
              </button>
            </div>
            <button class="btn transition" :class="list.length === 0 ? 'opacity-50' : 'opacity-75'" type="button" title="Reset" @click="reset" :disabled="list.length === 0 ? 'disabled' : undefined">
              <i class="fa-fw fa-solid fa-rotate-right"></i>
            </button>
            <button class="btn opacity-75" :style="{ borderColor: display.config ? 'var(--bs-border-color)' : '' }" type="button" title="Config" @click="display.config = !display.config">
              <i class="fa-fw fa-solid fa-gear"></i>
            </button>
            <button class="btn opacity-75" :style="{ borderColor: display.input ? 'var(--bs-border-color)' : '' }" type="button" title="Compare" @click="display.input = !display.input">
              <i class="fa-fw fa-solid fa-circle-half-stroke"></i>
            </button>
          </div>
          <div class="input-group w-auto">
            <button class="btn btn-outline-secondary" type="button" @click="file.click()">
              <i class="fa-fw fa-solid fa-file-import"></i> Import
            </button>
            <button class="btn btn-primary" type="submit" :disabled="list.length === 0 || loading ? 'disabled' : undefined">
              <i class="fa-fw fa-solid" :class="loading ? 'fa-spinner fa-spin' : 'fa-file-export'"></i> Export ({{ list.length }})
            </button>
          </div>
          <div class="d-none">
            <input ref="file" type="file" accept="application/json" @change="upload">
            <a ref="anchor" href="#" download="exported.json"></a>
          </div>
        </section>
        <section class="bg-light rounded">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent transition" v-if="display.config">
              <div class="row gy-2">
                <div class="col-12">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa-fw fa-solid fa-server" :title="config.endpoint ? 'Endpoint' : undefined"></i></span>
                    <input class="form-control" v-model="config.endpoint" placeholder="Embedding Endpoint" required>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa-fw fa-solid fa-key" :title="config.apiKey ? 'API Key' : undefined"></i></span>
                    <input class="form-control" v-model="config.apiKey" placeholder="Embedding API Key" required>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa-fw fa-solid fa-right-to-bracket" :title="config.pathIn ? 'Request Path' : undefined"></i></span>
                    <input class="form-control" v-model="config.pathIn" placeholder="Embedding Request Path" required>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa-fw fa-solid fa-right-from-bracket" :title="config.pathOut ? 'Response Path' : undefined"></i></span>
                    <input class="form-control" v-model="config.pathOut" placeholder="Embedding Response Path" required>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item bg-transparent transition" v-if="display.input">
              <div class="row gy-2">
                <div class="col-12">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa-fw fa-solid fa-comment-dots" :title="input.text ? 'Text to Compare' : undefined"></i></span>
                    <input class="form-control" v-model="input.text" placeholder="Text to Compare" :readonly="input.lock ? 'readonly' : undefined">
                    <button class="btn btn-outline-primary" type="button" title="Edit" v-if="input.lock" @click="edit()">
                      <i class="fa-fw fa-solid fa-lock"></i>
                    </button>
                    <button class="btn btn-outline-warning" type="button" title="Save" v-else @click="save()" :disabled="!input.text || loading ? 'disabled' : undefined">
                      <i class="fa-fw fa-solid" :class="loading ? 'fa-spinner fa-spin' : 'fa-lock-open'"></i>
                    </button>
                  </div>
                </div>
                <div class="col-12 col-lg-9">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa-fw fa-solid fa-database" :title="input.embedding ? 'Embedding to Compare' : undefined"></i></span>
                    <input class="form-control" v-model="input.embedding" placeholder="Embedding to Compare" readonly>
                    <button class="btn btn-info" type="button" title="Check" :disabled="input.lock && input.similarities.length === 0 && list.length > 0 ? undefined : 'disabled'" @click="check(compare)">
                      <i class="fa-fw fa-solid fa-list-check"></i>
                    </button>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa-fw fa-solid fa-temperature-half" :title="config.threshold ? 'Similarity Threshold' : undefined"></i></span>
                    <span class="input-group-text form-control bg-white">
                      <input class="form-range" type="range" v-model.number="config.threshold" min="0.5" max="0.9" step="0.05" placeholder="Similarity Threshold">
                    </span>
                    <span class="input-group-text compact text-muted font-monospace px-1">{{ config.threshold.toFixed(3) }}</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>
        <section class="flex-grow-1 overflow-y-auto">
          <ul class="list-group list-group-flush">
            <li
              v-for="item, index in list"
              class="list-group-item d-flex flex-column rounded gap-1 transition"
              :class="{ 'bg-info bg-opacity-25': input.similarities.length > 0 && input.similarities[index] >= config.threshold }"
            >
              <div class="input-group position-relative">
                <span class="input-group-text"><i class="fa-fw fa-solid fa-heading" :title="item.title ? 'Title' : undefined"></i></span>
                <input class="form-control" :class="{ 'main': input.similarities.length === 0 }" v-model="item.title" placeholder="Title" required>
                <span class="input-group-text main text-muted font-monospace compact px-1" v-if="input.similarities.length > 0">{{ input.similarities[index].toFixed(3) }}</span>
                <button class="btn btn-outline-danger suffix" type="button" title="Delete" @click="del(index)">
                  <i class="fa-fw fa-solid fa-circle-minus"></i>
                </button>
              </div>
              <div class="input-group">
                <span class="input-group-text"><i class="fa-fw fa-solid fa-comment-dots" :title="item.text ? 'Text' : undefined"></i></span>
                <textarea class="form-control main" v-model="item.text" placeholder="Text" required :readonly="item.lock ? 'readonly' : undefined"></textarea>
                <button class="btn btn-outline-primary suffix" type="button" title="Edit" v-if="item.lock" @click="edit(index)">
                  <i class="fa-fw fa-solid fa-lock"></i>
                </button>
                <button class="btn btn-outline-warning suffix" type="button" title="Save" v-else @click="save(index)" :disabled="!item.text || loading ? 'disabled' : undefined">
                  <i class="fa-fw fa-solid" :class="loading ? 'fa-spinner fa-spin' : 'fa-lock-open'"></i>
                </button>
              </div>
              <div class="input-group">
                <span class="input-group-text"><i class="fa-fw fa-solid fa-database" :title="item.embedding ? 'Embedding' : undefined"></i></span>
                <input class="form-control main" v-model="item.embedding" placeholder="Embedding" readonly required>
                <button class="btn btn-outline-info suffix" type="button" title="Extra" @click="item.extra = !item.extra">
                  <i class="fa-fw fa-solid" :class="item.extra ? 'fa-angles-up' : 'fa-angles-down'"></i>
                </button>
              </div>
              <template v-if="item.extra">
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-fw fa-solid fa-link" :title="item.link ? 'Link' : undefined"></i></span>
                  <input class="form-control" v-model="item.link" placeholder="Link">
                </div>
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-fw fa-solid fa-image" :title="item.image ? 'Image' : undefined"></i></span>
                  <input class="form-control" v-model="item.image" placeholder="Image">
                </div>
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-fw fa-solid fa-video" :title="item.video ? 'Video' : undefined"></i></span>
                  <input class="form-control" v-model="item.video" placeholder="Video">
                </div>
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-fw fa-solid fa-v" :title="item.version ? 'Version' : undefined"></i></span>
                  <input class="form-control" v-model="item.version" placeholder="Version">
                </div>
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-fw fa-solid fa-code" :title="item.function ? 'Function/ID' : undefined"></i></span>
                  <input class="form-control" v-model="item.function" placeholder="Function/ID">
                </div>
              </template>
            </li>
          </ul>
        </section>
      </form>
    </main>
    <footer class="small text-center text-muted">
      <span>Powered by <a href="https://github.com/horans/documents-embedding" target="_blank">horans@gmail.com</a></span>
    </footer>
    <script src="https://cdn.staticfile.org/vue/3.3.4/vue.global.prod.min.js"></script>
    <script>
    const defaultItem = {
        title: '',
        text: '',
        embedding: [],
        lock: false,
        extra: false,
        link: '',
        image: '',
        video: '',
        version: '',
        function: ''
      }
    const localPrefix = 'docs-emb'

    const { createApp, ref, reactive, watch } = Vue
      createApp({
        setup() {
          const file = ref(null)
          const anchor = ref(null)
          const list = ref([])
          const loading = ref(false)
          const display = reactive({
            config: false,
            input: false
          })
          const config = reactive({
            endpoint: '',
            apiKey: '',
            pathIn: 'input',
            pathOut: 'data[0].embedding',
            threshold: 0.7
          })
          const input = reactive({
            text: '',
            embedding: [],
            lock: false,
            similarities: []
          })
          return {
            file,
            anchor,
            list,
            loading,
            display,
            config,
            input
          }
        },
        watch: {
          config: {
            handler(nv) {
              try {
                localStorage.setItem(localPrefix + '-config', JSON.stringify(nv))
              } catch {}
            },
            deep: true
          },
          list: {
            handler(nv) {
              try {
                localStorage.setItem(localPrefix + '-data', JSON.stringify(nv))
              } catch {}
            },
            deep: true
          },
          'list.length'(nv, ov) {
            if (nv !== ov) this.reset('similarity')
          }
        },
        methods: {
          add() {
            this.list.push({ ...defaultItem })
          },
          del(index) {
            this.list.splice(index, 1)
          },
          reset(type) {
            if (type !== 'list' && type !== 'similarity') type = undefined
            if (type == null || type === 'list') this.list = []
            if (type == null || type === 'similarity') this.input.similarities = []
          },
          load(text) {
            try {
              data = JSON.parse(text)
              if (Array.isArray(data)) {
                data.forEach(item => {
                  if (item.title != null && item.title !== '' && item.text != null && item.text !== '') {
                    const current = { ...defaultItem }
                    current.title = item.title
                    current.text = item.text
                    current.embedding = item.embedding
                    current.link = item.link
                    current.image = item.image
                    current.video = item.video
                    current.version = item.version
                    current.function = item.function
                    current.lock = item.lock == null ? (current.embedding != null && current.embedding !== []) : item.lock
                    current.extra = item.extra == null ? (current.link || current.image || current.video || current.version || current.function) : item.extra
                    this.list.push(current)
                  }
                })
              }
            } catch {}
          },
          upload(event) {
            const file = event.target.files[0]
            const reader = new FileReader()
            reader.addEventListener('load', e => {
              this.$refs.file.value = null
              this.reset('list')
              this.load(e.target.result)
            })
            reader.readAsText(file)
          },
          edit(index) {
            const current = index == null ? this.input : this.list[index]
            if (current.lock) {
              current.lock = false
              current.embedding = []
            }
            if (index == null) this.reset('similarity')
          },
          async save(index) {
            if (this.config.config !== '' && this.config.apiKey !== '' && this.config.pathIn !== '' && this.config.pathOut !== '') {
              const current = index == null ? this.input : this.list[index]
              if (!current.lock && current.text !== '') {
                this.loading = true
                await fetch(this.config.endpoint, {
                  method: 'POST',
                  headers: { 
                    'Content-Type': 'application/json',
                    'api-key': this.config.apiKey
                  },
                  body: JSON.stringify({ [this.config.pathIn]: current.text })
                }).then(response => response.json())
                .then(result => {
                  current.embedding = get(result, this.config.pathOut)
                  current.lock = true
                  this.loading = false
                })
              }
            } else this.display.config = true
          },
          download () {
            const str = JSON.stringify(this.list, null, 2)
            this.$refs.anchor.href = 'data:application/json;charset=utf-8,'+ encodeURIComponent(str)
            this.$refs.anchor.click()
            setTimeout(() => { this.$refs.anchor.href = '#' })
          },
          async check (action) {
            for (let count = 0; count < this.list.length; count++) {
              await this.save(count)
            }
            if (action != null) action()
          },
          compare () {
            this.input.similarities = []
            this.list.forEach((item, index) => {
              this.input.similarities.push(cosineSimilarity(this.input.embedding, this.list[index].embedding))
            })
          }
        },
        mounted() {
          try {
            const localConfig = JSON.parse(localStorage.getItem(localPrefix + '-config'))
            if (localConfig != null) {
              this.config.endpoint = localConfig.endpoint
              this.config.apiKey = localConfig.apiKey
              this.config.pathIn = localConfig.pathIn
              this.config.pathOut = localConfig.pathOut
            }
          } catch {}
          const localData = localStorage.getItem(localPrefix + '-data')
          if (localData != null) this.load(localData)

          document.querySelector('main').classList.add('ready')
          if (this.config.endpoint === '' || this.config.apiKey === '' || this.config.pathIn === '' || this.config.pathOut === '') this.display.config = true
        }
      }).mount('#app')
    </script>
    <script>
      // https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore
      const get = (obj, path, defaultValue = undefined) => {
        const travel = regexp =>
          String.prototype.split
            .call(path, regexp)
            .filter(Boolean)
            .reduce((res, key) => (res !== null && res !== undefined ? res[key] : res), obj);
        const result = travel(/[,[\]]+?/) || travel(/[,[\].]+?/);
        return result === undefined || result === obj ? defaultValue : result;
      };      
    </script>
    <script>
      // similarity calculation by chatgpt
      function dotProduct(a, b) {
        let sum = 0;
        for (let i = 0; i < a.length; i++) {
          sum += a[i] * b[i];
        }
        return sum;
      }

      function magnitude(a) {
        let sum = 0;
        for (let i = 0; i < a.length; i++) {
          sum += a[i] * a[i];
        }
        return Math.sqrt(sum);
      }

      function cosineSimilarity(a, b) {
        if (a.length !== b.length) {
          return -1;
        }
        let dot_product = dotProduct(a, b);
        let magnitude_product = magnitude(a) * magnitude(b);
        return dot_product / magnitude_product;
      }
    </script>
  </body>
</html>